body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
}

.grandparent {
    background: red;
    height: 75%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parent {
    background: green;
    height: 60%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.child {
    background: blue;
    height: 50%;
    width: 50%;
}

